@font-face {
    font-family: 'Niagara';
    src: URL('Niagara Solid Regular.ttf') format('truetype');
}

*,
::before,
::after {
    font-family: Niagara;
}

.menu-area {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.food-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid black;
    height: 150px;
    width: 250px;
    padding-left: 7px;
}

.title {
    font-size: 28px;
    height: 30px;
}

.description {
    font-size: 12px;
    font-family: monospace;
    height: 20px;
}

.price {
    font-family: monospace;
    font-size: 15px;
    height: 20px;
    margin-left: auto;
    padding-right: 5px;
}