*,
::before,
::after {
    box-sizing: border-box;
    font-family: monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.header-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex: 1;
    background-image: linear-gradient(to bottom, rgb(184, 111, 1), rgba(255, 255, 0, 0));
    margin: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 15px;
    width: 100vw;
}

.header-area>a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.header-area>a:hover {
    text-decoration: none;
    background-color: rgb(163, 0, 0);
    cursor: pointer;

}

.header-area>a:active {
    text-decoration: none;
    background-color: rgb(163, 0, 0);
    color: rgb(251, 255, 0);
}

body {
    background-image: url("../img/newjersey.png"),
        linear-gradient(to right, red, white, white, green);
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-size: 44vh, 120%;
    background-position: center;
}

.menu-area {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.food-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    border: solid black 1px;
    height: 85px;
    width: 150px;
    padding: 4px;
    text-align: left;
    background-color: rgba(194, 194, 194, 0.575);
}

#title {
    font-size: 12px;
    height: 30px;
    flex: 1 0 100%;
    padding: 0;
    margin: auto;
}

#description {
    font-size: 8px;
    font-family: monospace;
    height: 20px;
    flex: 2 2 70%;
}

#price {
    font-family: monospace;
    font-size: 9px;
    height: 4px;
    margin-left: auto;
    flex: 2;
}


#drinks-text,
#appetizer-text,
#main-text,
#dessert-text {
    font-size: 35px;
    margin-top: 8vh;
    scroll-margin-top: 8vh;
    text-align: center;
}

#welcome-text {
    display: flex;
    font-family: 'Tangerine', cursive;
    font-size: 80px;
    margin-top: 8vh;
    scroll-margin-top: 8vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    margin-bottom: 70vh;
}