*,
::before,
::after {
  box-sizing: border-box;
  font-family: monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../img/newjersey.png"),
    linear-gradient(to right, red, white, white, green);
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  background-size: 45vmin, 100%;
  /*   background-position: center; */
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 90vh;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: linear-gradient(to right,
      rgb(184, 111, 1, 0.5),
      rgba(184, 111, 1, 1),
      rgba(184, 111, 1, 1),
      rgba(184, 111, 1, 1),
      rgba(184, 111, 1, 0.5));
  margin: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2.5vw;
  width: 100%;
  z-index: 10;
}

.header>a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.header>a:hover {
  text-decoration: none;
  background-color: rgb(163, 0, 0);
  cursor: pointer;
}

#restaurant-name {
  margin-top: 15vh;
  align-self: center;
  font-family: "Tangerine", cursive;
  font-size: 15vw;
}

.menu-div {
  margin-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-div>div {
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.food-name {
  font-size: clamp(1rem, 1.7vw, 4rem);
  font-weight: 700;
}

.food-description {
  font-size: clamp(1rem, 1.7vw, 4rem);
}

.food-price {
  font-size: clamp(1rem, 2vw, 4rem);
  font-weight: 400;
}

#drinks-text,
#appetizers-text,
#main-text,
#desserts-text {
  flex: 100%;
  font-size: 6vmin;
  margin-top: 8vh;
  scroll-margin-top: 8vh;
  text-align: center;
}

.food-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 25vw;
  width: 25vw;
  height: 14vmax;
  border: solid black 1px;
  padding: 4px;
  margin: 5px;
  background-color: rgba(194, 194, 194, 0.575);
}