*,
::before,
::after {
    box-sizing: border-box;
    font-family: monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.header-area {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: linear-gradient(to bottom, rgb(184, 111, 1), rgba(184, 111, 1, 0.6), rgba(184, 111, 1, 0));
    margin: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 3vmin;
    width: 100vw;
}

.header-area>a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.header-area>a:hover {
    text-decoration: none;
    background-color: rgb(163, 0, 0);
    cursor: pointer;

}

.header-area>a:active {
    text-decoration: none;
    background-color: rgb(163, 0, 0);
    color: rgb(251, 255, 0);
}

body {
    background-image: url("../img/newjersey.png"),
        linear-gradient(to right, red, white, white, green);
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-size: 45vmin, 100vw;
    background-position: center;
}

.menu-area {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.food-item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex: 3 1 25%;
    max-width: 25vmax;
    align-items: flex-end;
    border: solid black 1px;
    height: 90px;
    width: 150px;
    padding: 4px;
    background-color: rgba(194, 194, 194, 0.575);
}

#title {
    font-size: 1.7vmin;
    flex: 3 0 100%;
    padding: 0;
    margin: auto;
    text-align: left;
}

#description {
    font-size: 1.5vmin;
    width: 72%;
    text-align: left;
}

#price {
    font-size: 1.5vmin;
    position: absolute;
    bottom: 0;
    right: 4px;
}


#drinks-text,
#appetizer-text,
#main-text,
#dessert-text {
    font-size: 6vmin;
    margin-top: 8vh;
    scroll-margin-top: 8vh;
    text-align: center;
}

#welcome-text {
    display: flex;
    font-family: 'Tangerine', cursive;
    font-size: 15vw;
    margin-top: 8vh;
    scroll-margin-top: 8vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    margin-bottom: 70vh;
}